.container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.weekdayListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.columnMonthList {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.monthBlock {
  display: flex;
  flex-direction: column;
}

.monthStat {
  align-items: center;
  font-size: 12px;
  color: #333;
  display: flex;
}

.monthTitle {
  color: #ddd;
  text-transform: uppercase;
}

.monthCount {
  margin-left: auto;
}

.weekList {
  display: flex;
  gap: 3px;
}

.weekListContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.dayBlock {
  align-items: center;
  background: #eee;
  border-radius: 2px;
  display: flex;
  height: 11px;
  justify-content: center;
  width: 11px;
  transition: all 0.2s;
}

.dayBlockHasActivity {
  cursor: pointer;
}

.dayBlockHasActivity:hover {
  transform: scale(1.2);
}

.dayBlockEmpty {
  background: none;
  cursor: default;
}

.dayBlock100 {
  background: #fc5200;
}

.dayBlock75 {
  background: #ff8c00;
}

.dayBlock50 {
  background: #ffbf00;
}

.dayBlock25 {
  background: #ffe500;
}

.dayBlockHasBestEffort {
  border: 2px solid #333;
}

.dayBlockHasRace {
  /* border: 2px solid #333; */
  color: #fff;
  font-size: 8px;
}

.popoverContainter {
  align-items: center;
  color: #333;
  display: flex;
  flex-direction: column;
}

.popoverDate {
  font-weight: 700;
}

.popoverActivityDetail {
  font-size: 12px;
  cursor: pointer;
  margin-right: 1em;
}

.popoverActivityLink {
  color: #fc5200;
  font-size: 12px;
}

.bestListItem {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #333;
}

.bestName {
  /* font-size: 11px; */
}

.bestDate {
  color: #333;
  margin-left: auto;
  margin-right: 12px;
}

.atheleteContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.atheleteProfile {
  margin-right: 12px;
}

.athleteName {
  font-size: 13px;
  display: flex;
  flex-direction: column;
}

.atheleteFooter {
  color: #999;
  font-size: 11px;
}

.atheleteFooter span {
  text-decoration: underline;
}

.toolButton {
  color: #999;
}

.icon {
  height: 20px;
  width: 20px;
}
