.main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  justify-content: center;
  padding: 12px;
  min-width: 100vw;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}
