.main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  justify-content: center;
  padding: 12px;
  min-width: 100vw;
}

.footer {
  align-items: center;
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 36px 0;
}

.iconLinkList {
  display: flex;
  gap: 12px;
}

.iconLink {
  display: flex;
  height: 24px;
  width: 24px;
}

.icon {
  height: 24px;
  width: 24px;
}

.icon:hover {
  color: #333;
}

.link {
  font-size: 16px;
  color: currentColor;
  margin-top: 12px;
}

.link:hover {
  color: #333;
}
