.main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  padding: 24px;
  padding-top: 0;
  min-width: 100vw;
}

.footer {
  align-items: center;
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 10px;
}

.iconLinkList {
  display: flex;
  gap: 12px;
}

.iconLink {
  display: flex;
  height: 20px;
  width: 20px;
}

.icon {
  height: 100%;
  width: 100%;
}

.icon:hover {
  color: #333;
}

.linkContainer {
  align-items: center;
  display: flex;
  font-size: 14px;
  gap: 0.25em;
  margin-top: 8px;
}

.link {
  font-size: 14px;
  color: currentColor;
}

.link:hover {
  color: #333;
}
