.container {
  display: flex;
  flex-direction: column;
  max-width: calc(390px - 12px - 12px);
  padding: 16px;
  width: 100%;
}

.navbar {
  align-self: center;
  font-size: 24px;
  font-weight: 700;
}

.navbarHeader {
  height: 36px;
  position: relative;
}

.toolButton {
  color: #999;
  position: absolute;
  right: 12px;
  top: 18px;
}

.yearStat {
  align-items: center;
  display: flex;
  margin-top: 11px;
}

.yearSelect {
  width: 90px;
}

.yearTotal {
  margin-left: auto;
  font-size: 14px;
  color: #333;
}

.buttonContainer {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.monthLogTable {
  margin-top: 10px;
}
