.container {
  background: #fff;
  max-width: calc(390px + 12px + 12px);
  padding: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.navbar {
  align-self: center;
  font-size: 24px;
  font-weight: 700;
}

.navbarHeader {
  height: 36px;
  position: relative;
}

.toolButtonList {
  display: flex;
  position: absolute;
  right: 12px;
  top: 18px;
}

.toolButton {
  color: #999;
}

.icon {
  height: 20px;
  width: 20px;
}

.yearStat {
  align-items: center;
  display: flex;
  margin-top: 11px;
}

.yearSelect {
  width: 90px;
}

.yearTotal {
  margin-left: auto;
  font-size: 14px;
  color: #333;
}

.content {
  position: relative;
}

.buttonContainer {
  background-color: rgba(255, 255, 255, 0.5);
  align-items: center;
  display: flex;
  flex-grow: 1;
  left: 0;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  /* HACK: popover is 10 */
  z-index: 11;
}

.monthLogTable {
  margin-top: 10px;
}
