.modalButtonList {
  display: flex;
  gap: 12px;
  flex-direction: column;
  flex-wrap: wrap;
  height: 128px;
  padding: 12px 0;
}

.button[data-select-button-hover='true'] {
  scale: 0.97;
  opacity: 0.5;
}
